*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.P1{
    text-align: center;
    padding-top: 50px;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    ;

}
.input{
    text-align: center;
    margin: 100px 0;
}
input[type='text']{
height: 50px;
width: 500px;
background-color: beige;
font-weight: bold;
border: none;
border-radius: 4px;
}
input[type='submit']{
height: 50px;
width: 100px;
background-color: skyblue;
font-weight: bold;
border: none;
border-radius: 4px;
}